.webmadewell {
  background-color: white;
}
.sample-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("http://webmadewell.com/wp-content/uploads/2018/01/img-bg-sample-parallax-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
}
.sample-header-section {
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

.sample-section-wrap {
  position: relative;
  background-color: white;
}
.sample-section {
  position: relative;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

body {
  margin-left: 20px;
}
p,
li,
th,
td {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}
img#golfimg {
  float: right;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px Black;
}
h1,
h2,
h3 {
  color: #003366;
  font-family: BankGothic Lt BT;
}
h1 {
  font-size: 25px;
  font-weight: 500;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
h3 {
  font-size: 16px;
  font-weight: 400;
}
div#attribution {
  background-color: #f9f9f9;
  border: double 3px #000000;
  padding: 5px 5px 5px 5px;
  margin: 20px 40px;
  font-family: Tw Cen MT Condensed, Garamond;
  font-size: 10pt;
  width: auto;
  float: left;
}
div.salespitch {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  padding: 5px 5px 5px 5px;
  margin: 20px 40px;
  color: #ffffff;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  width: 400px;
  float: left;
  background: #dfe5ea url(background.jpg) repeat-x scroll left top;
}
.salespitch A:link {
  text-decoration: underline;
  color: #c68d04;
}
.salespitch A:visited {
  text-decoration: underline;
  color: #c68d04;
}
.salespitch A:active {
  text-decoration: underline;
  color: #c68d04;
}
.salespitch A:hover {
  text-decoration: underline;
  color: #c68d04;
}

blockquote {
  font-family: Courier, verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
}
table {
  background: #f9f9f9;
  border: 1px #aaaaaa solid;
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: 50px;
}

th {
  background-color: #dfdfdf;
  text-align: center;
  border: solid 1px #aaaaaa;
  font-weight: bold;
  padding: 3px 3px 3px 3px;
}
td {
  text-align: center;
  border: solid 1px #aaaaaa;
  padding: 3px 3px 3px 3px;
}
td.rowheader {
  background-color: #dfdfdf;
  border: solid 1px #aaaaaa;
}

div.question {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}
div.answer {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  margin-left: 30px;
}
div.correctAnswer {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  font-style: normal;
  color: #003366;
  margin-left: 30px;
}
